body {
    /* overflow-y: visible; */
    overflow: unset;
    height: 100%;
}

.page__wrap {
    overflow-x: hidden;
}

header{
    position: fixed;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    background: #ffffff;
    width: unset;
    position: static;
}

header hr{
    margin-right: -8vw;
}

.header__right{
    /* --- */
    /* display: flex; */
    display: grid;
    /* grid-template-columns: 30% 70%; */
    /* grid-template-columns: 24% 76%; */
    grid-template-columns: 29% 71%;
    width: 100vw;
}

.header__left-wrap{
    padding-top: 10px;
}

.header__left{
    display: grid;
    /* grid-template-columns: 51% 45%; */
    grid-template-columns: 58% 38%;
    grid-column-gap: 4%;
}

.header__logo-pages{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

/* header hr {
    top: 45px;
} */
/* .header__logo-pages{
    flex-grow: 0;
} */

.heading__menu-type{
    font-family: 'CenturyGothic-Bold';
    font-size: 0.76em;
    color: #9983b7;
    display: none;
    /* --- */
    /* align-self: center; */
}

/* .header__left-menu{
    padding-top: 10px;
    flex-grow: 1;
} */

header .lang{
    display: flex;
    align-items: baseline;
}

header .mess{
    display: flex;
}

.mess-icon {
    position: unset;
}

.eng-rus{
    position: unset;
}

.lang-mess {
    /* top: 18px; */
    justify-content: flex-end;
    position: static;
    padding-top: 18px;
}

.menu {
    margin: 0 0 -30px 0;
    /* -- */
    /* margin-bottom: -15px; 
    width: 38vw;*/
    width: unset;
    margin-left: -3.4vw;
    /* --- */
    padding-top: 58px;
}

.menu__list:hover .menu__img {
    top: -53px;
}

.menu__list:hover .menu__text {
    top: -46px;
}

.menu__img {
    top: -51px;
}

.menu__text {
    top: -41px;
}

.breadcrumbs{
    /* --- */
    /* padding-top: 120px; */
    padding-top: 130px;
}

.breadcrumb{
    list-style-type: none;
    display: flex;
    font-family: 'Calibri-Regular';
    font-size: 1em;
    color: #9894aa;
}

.breadcrumb a, .breadcrumb a:visited{
    color: #9894aa;
}

.breadcrumb a:hover, .breadcrumb-item:last-child{
    color: #473787;
    border-bottom: 1px solid #473787;
}

.breadcrumb__arrow{
    padding: 0 12px;
}

.preview__item{
    /* transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); */
    /* transition-property: transform, opacity; */
    /* transition-duration: 0.8s; */
    /* --- */
    /* padding-right: 1.15vw;
    padding-left: 1.15vw; */
    /* --- */
    padding-right: 1.85vw;
    padding-left: 0.45vw;
    padding-right: 2vw;
    padding-left: 0;
}

.preview__img { 
    /*width: 18.63vw;*/
    /* width: 18.8vw;  */
    width: 256px;
    /* height: 12.4vw; */
}

.menu__mobile-bottom .mess-item, 
.footer .mess-item,
.menu__mobile-bottom .footer_social-item,
footer .footer_social-item {
    display: flex;
    align-items: center;
    /* margin-bottom: 0; */
}

.projects{
    position: unset;
    outline: unset;
    outline-offset: unset;
    padding: 14px 8vw 0;
}

.projects .heading {
    padding-bottom: 40px;
}

.projects hr{
    width: 100vw;
    top: unset;
}

  /* ---- button ---- */

.filter__button{
    top: -13px;
    box-sizing: initial;
    cursor: pointer;
}

.is-checked {
    width: 22px;
    height: 22px;
    position: relative;
    top: -16px;
    border-radius: 50%;
    background: #f4f3f6;
    border: 3px solid #4a446a;
}

.is-checked:before {
    content: '';
    width: 18px;
    height: 18px;
    display: block;
    position: relative;
    right: -2px;
    background: #4a446a;
    border-radius: 50%; 
}

  /* ---- button-group ---- */

.button-group {
    /* margin-bottom: 20px; */
    width: 86%;
    margin-bottom: -20px;
    font-family: 'MyriadPro-Regular';
    font-size: 1em;
    /* --- */
    /* display: flex; */
    display: grid;
    grid-template-columns: 55% 45%;
    grid-column-gap: 1%;
    margin-left: -5vw;
}

.button-group__first{
    display: grid;
    grid-template-columns: 19% 31% 31% 19%;
}

.button-group__second{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;

}

.button-group .menu__img:before{
    top: 0;
}

.button-group .menu__list{
    /* --- */
    /* width: 140px; */
    width: 172px;
    height: 84px;
}

.button-group .menu__text {
    top: -13px;
    margin-top: 15px;
    text-align: center;
}

.button-group .menu__list:hover .menu__img {
    top: -16px;
}

.button-group .menu__list:hover .menu__text {
    top: -18px;
}

.button-group .text__checked {
    top: -18px;
    font-weight: bold;
}

.filter__hr-second{
    display: none;
}

  /* ---- isotope ---- */

.grid{
    /* transition-duration: 0.8s; */
    /* float: left; */
    /* width:108%; */
    /* --- */
    /* width:102%; */
    width: 90vw;
    /* margin-right: -1.15vw; */
    /* --- */
    /* margin: 0; */
    float: none;
    margin: 0 auto;
    margin-top: -10px;
}

  /* clear fix */
/* .grid:after {
    content: '';
    display: block;
    clear: both;
} */

  /* ---- SLIDER ---- */
/* .item.slick-slide {
    width: 50vw;
} */
    .slider{
        display: none;
    }

    .slider__constructor {
        position: relative;
        z-index: 200;
        padding: 0 0;
        margin: 5rem auto;
        width: 100vw;

    }

  /* ---- .element-item ---- */

/* .element-item > * {
    margin: 0;
    padding: 0;
} */

/* ----- FORM ----- */

.contacts__form {
    top: 17px;
}

.contacts__form input, textarea {
    flex-basis: 62%;
}

.mini-input-left {
    flex-basis: 58% !important;
}

@media (min-width: 1440px){
    /* .menu {
        width: 35.6vw;
    } */
    .header__left {
        grid-template-columns: 59% 37%;
    }
    
    header hr {
        margin-right: -20vw;
    }

    .projects {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .button-group{
        margin-left: 0;
    }

    .popup_link{
        width: 18.2vw !important;
        height: 12.3vw !important;
    }
}

@media (min-width: 1600px){
    .projects {
        padding-left: 12vw;
        padding-right: 12vw;
    }

    .popup_link {
        width: 17.4vw !important;
        height: 11.9vw !important;
    }
}

@media (min-width: 1920px){
    header hr {
        margin-right: -24vw;
    }

    .mess-icon {
        padding-top: 4px;
        padding-bottom: 6px;
    }

    .menu {
        margin-left: -2.2vw;
    }

    .grid{
        width: 1424px;
        max-width: 1424px;
    }

    .button-group {
        width: 1100px;
    }

    .popup_link {
        /* width: 300px !important;
        height: 200px !important; */
        width: 311px !important;
        height: 204px !important;
    }

    .preview__item {
        padding-right: 22px;
        padding-left: 22px;
    }
}

@media (min-width: 2560px){
    .header__left{
        padding-top: 20px;
    }
}

@media (min-width: 1441px) and (max-width: 1919px){
    .header__right {
        grid-template-columns: 33% 67%;
    }
}

@media (min-width: 1330px) and (max-width: 1919px){
    .mini-input-left {
        flex-basis: 54% !important;
    }
}

/* @media (min-width: 855px) and (max-width: 1365px){
    .preview__img { */
        /* width: 19.24vw;*/
        /* width: 18.63vw; 
    }
}*/ 

@media (max-width: 1280px){
    .header__right{
        grid-template-columns: 24% 76%;
    }

    .header__logo-pages {
        /* --- */
        /* padding-right: 4vw; */
        padding-right: 3vw;
    }

    .header__logo-pages img{
        width: 86%;
    }

    .menu__list {
        /* --- */
        /* width: 70px; */
        width: 60px;
    }
} 

@media (max-width: 1136px){
    .header__logo-pages {
        padding-right: 0;
    }

    .header__logo-pages img{
        width: 76%;
    }

    .eng-rus {
        margin-right: 9px;
    }

    .mess-item {
        padding-left: 9px;
    }

    .mess-icon, .eng-rus {
        padding-left: 13px;
        padding-right: 13px;
    }

    .button-group {
        width: 98%;
        /* margin-left: calc(50% - 40vw); */
    }
} 

@media (max-width: 1040px){
    .header__logo-pages img{
        width: 68%;
    }

    .header__logo-pages {
        margin-right: -2vw;
    }

    .menu {
        /* --- */
        /* width: 41vw; */
        font-size: 0.96em;
    }

    .eng-rus {
        margin-right: 7px;
    }

    .mess-item {
        padding-left: 7px;
    }

    .mess-icon, .eng-rus {
        padding-left: 11px;
        padding-right: 11px;
    }

    .breadcrumbs {
        padding-top: 120px;
    }

    .projects {
        padding-top: 0;
    }

    .button-group{
        /* font-size: 0.96em;
         margin-left: calc(50% - 42vw); */
        margin-left: -6vw;
    }

    .grid{
        margin-top: -10px;
    }
} 

@media (max-width: 936px){
    .header__logo-pages img{
        width: 64%;
    }

    .header__logo-pages {
        margin-right: -4vw;
    }

    .menu {
        /* width: 42vw; */
        font-size: 0.84em;
    }

    /* .eng-rus {
        margin-right: 5px;
    }

    .mess-item {
        padding-left: 5px;
    } */

    .mess-icon, .eng-rus {
        padding-left: 9px;
        padding-right: 9px;
    }

    .button-group{
        /* --- */
        /* font-size: 0.84em;
        margin-left: calc(50% - 44vw); */
        font-size: 0.96em;
        /* margin-left: -7vw; */
        width: 96%;
        margin-left: -4.5vw;
    }

    .button-group .menu__list {
        width: 130px;
    }

    .grid {
        margin-top: -12px;
    }
}


@media (max-width: 854px){
    header{
        position: static;
    }

    .header__top {
        padding-top: 0;
    }

    .header__left-wrap {
        padding-top: 0;
    }

    header hr{
        left: -36vw;
        width: 100vw;
    }

    .header__right {
        display: grid;
        /* grid-template-columns: 36% 64%;*/
        grid-template-columns: 28% 64%;
        /* padding-left: 8vw; */
    }

    .header__logo-pages {
        /* --- */
        /* margin-right: 2vw; 
        margin-top: -26px;*/
        margin-right: 0;
        margin-top: 0;
        /* width: fit-content; */
        
    }

    .header__logo-pages img{
        /* width: 76%; */
        width: 86%;
        padding-top: 32px;
    }
    /* --- */
    .header__left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 8vw;
        height: 100%;
    }

    .lang-mess {
        justify-content: flex-start;
        padding: 18px 0 0;
    }

    /* .header__logo-pages img{
        width: 25%;
    } */

    .heading__menu-type{
        /* --- */
        /* display: inline-flex; */
        display: block;
        padding-bottom: 14px;
        font-size: 1em;
    }

    .header__left-menu {
        padding-top: 0;
    }

    .menu {
        width: 100vw;
        font-size: 1em;
        padding-top: 0;
    }

    .menu__icon-mobile {
        top: 25px;
    }

    .menu__list:hover .menu__img{
        top: -6px;
    }

    .eng-rus {
        /* margin-right: 14px; */
        margin-right: 11px;
    }

    .header__left .eng-rus{
        margin-right: 14px;
    }

    .menu__mobile-bottom .eng-rus {
        margin-right: 0;
    }

    header .mess {
        margin-right: calc(5vw + 46px);
    }

    .mess-item {
        /* padding-left: 14px; */
        padding-left: 11px;
    }

    .header__left .mess-item {
        padding-left: 14px;
    }

    .mess-icon, .eng-rus {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* .menu__img {
        top: 0;
    } */

    .header__top {
        flex-direction: column-reverse;
    }

    .breadcrumbs {
        /* --- */
        /* padding-top: 64px; */
        padding-top: 54px;
    }

    .button-group {
        /* margin-left: calc(50% - 46vw); */
        width: 106%;
    }
    
    .button-group .menu__list {
        height: 94px;
        margin-top: 0 !important;
        flex-direction: column !important;
    }

    .button-group .menu__list:hover{
        left:0 !important;
    }

    .button-group .menu__list:hover .menu__img {
        width: 22px !important;
        height: 22px !important;
    }

    .button-group .menu__text{
        padding-left: 0 !important;
    }

    .grid {
        /* margin-top: -24px;
        margin-left: calc(50% - 33vw); */
        /* --- */
        /* width: calc(500px + 8vw); */
        width: calc(502px + 8vw);
        margin-top: -18px;
    }

    .popup_link{
        width: 250px !important;
        height: 170px !important;
    }

    .preview__item {
        padding-right: 2vw;
        padding-left: 2vw;
    }

    .form__item {
        display: grid;
        grid-template-columns: 33% 65%;
        grid-column-gap: 2%;
    }
}

/* @media (max-width: 854px) and (max-height: 800px){
    .menu__list {
        font-size: inherit !important;
    }
} */

@media(max-width:768px){
    .button-group {
        display: block;
        margin-left: calc(50% - 42vw);
        font-size: 1em;
        width: 96%;
    }

    .filter__hr-second{
        display: block;
        margin-left: calc(50% - 50vw);
    }

    .button-group__first {
        grid-template-columns: 18% 28% 30% 30%;
        justify-content: center;
    }

    .button-group__second {
        grid-template-columns: 33.33% 33.33% 33.33%;
        margin: 0 auto;
        width: 60vw;
    }

    .button-group .menu__list {
        width: 154px;
    }

    .grid {
        /* margin-left: calc(50% - 36vw); */
        margin-top: -28px;
    }
    .contacts__form {
        top: inherit;
        bottom: 0;
    }

    div .form__mobile-text {
        display: grid;
    }

    .form__item .about_us-text {
        display: flex;
        justify-content: flex-start;
    }

    .form__item {
        grid-template-columns: 38% 60%;
    }

    /* span.form__mobile-text {
        display: inline;
    } */
}

@media(max-width:767px){
    .heading__menu-type {
        font-size: 0.8em;
    }

    header hr {
        left: -34vw;
    }

    .header__right {
        grid-template-columns: 26% 64%;
        /* padding-left: 8vw; */
    }

    /* .menu__icon-mobile {
        right: calc(8vw - 10px);
    } */
}

@media(max-width:640px){
    .filter__hr-second {
        /* margin-left: calc(50% - 51vw); */
        margin-left: calc(50% - 49vw);
    }

    .heading__menu-type {
        padding-bottom: 12px;
    }

    .breadcrumbs {
        padding-top: 44px;
    }

    .projects {
        padding-left: 6vw;
        padding-right: 6vw;
    }

    .button-group {
        margin-left: calc(50% - 46vw);
    }

    .grid {
        /* width: 88vw; */
        width: calc(88vw + 2px);
    }

    .popup_link {
        width: 40vw !important;
        height: 26.7vw !important;
    }

    .form__item {
        grid-template-columns: 43% 55%;
    }
}

@media(max-width:624px) {
    .mess-icon, .eng-rus {
        padding-left: 11px;
        padding-right: 11px;
    }

    .header__left .eng-rus {
        margin-right: 10px;
    }

    .header__left .mess-item {
        padding-left: 10px;
    }

    /* .heading__menu-type {
        text-align: center;
    } */

    .button-group__second {
        width: 70vw;
    }

    
    .form__item {
        grid-template-columns: 45% 53%;
    }
}

@media (max-width: 540px){
    .button-group {
        margin-left: calc(50% - 48vw);
    }

    .filter__hr-second {
        margin-left: calc(50% - 48vw);
    }

    .button-group__first {
        grid-template-columns: 24% 30% 33% 30%;
    }

    .button-group__second {
        width: 74vw;
    }

    .form__item{
        display: flex;
    }

    div .form__mobile-text {
        display: flex;
    }
}


@media(max-width:539px) {
    .header__right {
        grid-template-columns: 24% 64%;
    }

    header hr {
        left: -32vw;
    }
    
    .header__left .eng-rus {
        margin-right: 7px;
    }

    .header__left .mess-item {
        padding-left: 7px;
    }

    .header__logo-pages img {
        width: 90%;
    }

    .heading__menu-type {
        text-align: center;
    }

    .button-group .menu__list {
        width: 140px;
    }
}

@media(max-width:480px) {
    .header__right{
        padding-left: 4vw;
        grid-template-columns: 28% 64%;
    }

    .breadcrumbs{
        padding: 2rem 4vw 0;
    }

    .button-group__first {
        grid-template-columns: 24% 28% 30% 34%;
    }

    .grid {
        margin-top: -36px;
    }

    .slider__constructor {
        margin-top: 3.4rem;
    }
}

@media(max-width:479px) {
    .header__top .container{
        padding-bottom: 0;
    }

    .white-popup .slider__constructor{
        margin-bottom: 2rem;
    }
}

@media(max-width:449px){
    .mess-icon, .eng-rus {
        padding-left: 7px;
        padding-right: 7px;
    }

    .button-group {
        font-size: 0.96em;
    }

    .button-group .menu__list {
        /* width: 134px; */
        width: 130px;
    }
}

@media(max-width:400px){
    .header__right {
        grid-template-columns: 26% 64%;
    }

    header hr {
        left: -30vw;
    }

    .header__logo-pages img {
        width: 90%;
        padding-top: 28px;
    }

    .heading__menu-type {
        /* padding-top: 4px; 
        margin-left: -32vw;*/
        padding: 4px 4vw 0;
        margin-left: -30vw;
        width: 100vw;
        font-size: 0.72em;
        text-align: start;
    }

    .header__left .eng-rus {
        margin-right: 5px;
    }

    .header__left .mess-item {
        padding-left: 5px;
    }

    .mess-icon, .eng-rus {
        padding-left: 5px;
        padding-right: 5px;
    }

    /* .grid {
        width: 90vw;
    } */
    .button-group {
        font-size: 0.91em;
    }

    .button-group__first {
        grid-template-columns: 24% 30% 32% 38%;
        margin-left: -3vw;
    }

    .button-group__second {
        width: 88vw;
    }

    .preview__heading {
        width: 40vw;
    }
}

@media (max-height: 480px){
    .slider__constructor {
        margin-top: 3.4rem;
    }
}

@media (max-width: 360px){
    .grid {
        width: 84vw;
        margin-top: -40px;
    }

    .popup_link {
        width: 80vw !important;
        height: 53vw !important;
    }

    .preview__heading {
        width: 160px;
    }

    .button-group__first {
        grid-template-columns: 22% 30% 32% 40%;
    }

    .button-group__second {
        margin-left: -4vw;
    }

    .footer_social .mess-item {
        padding-left: 4px;
    }
}

@media (max-width: 350px){
    .header__right{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .header__logo-pages{
        order: 1;
        width: 50vw;
        text-align: center;
    }

    .header__logo-pages img{
        padding-top: 0;
    }

    header hr {
        left: -4vw;
    }

    .header__left{
        align-items: flex-start;
        padding-right: 0;
    }

    .header__left .eng-rus {
        margin-right: 7px;
    }

    .header__left .mess-item {
        padding-left: 7px;
    }

    .mess-icon, .eng-rus {
        padding-left: 9px;
        padding-right: 9px;
    }

    .heading__menu-type{
        margin-left: 0vw;
        text-align: start;
        padding: 4px 0 0;
        width:auto;
    }

    .button-group .menu__list {
        width: 112px;
    }

    .button-group {
        font-size: 0.8em;
    }
}

@media (max-width: 300px){
    header hr {
        /* --- */
        /* left: 0vw; */
        left: -4vw;
    }

    .mess-icon, .eng-rus {
        padding-left: 5px;
        padding-right: 5px;
    }

    .header__left .eng-rus {
        margin-right: 4px;
    }

    .header__left .mess-item {
        padding-left: 4px;
    }

    .heading__menu-type {
        text-align: center;
        padding-bottom: 4px;
    }

    .button-group .menu__list {
        width: 104px;
    }

    .button-group {
        font-size: 0.76em;
    }
}

@media (max-width: 280px){
    .projects .heading {
        padding-bottom: 30px;
    }

    .button-group .menu__list {
        width: 92px;
    }

    .button-group {
        font-size: 0.7em;
    }
}

@media (max-width: 244px){
    .button-group__first {
        margin-left: -5vw;
    }
}