.projects {
    align-items: unset;
    padding-bottom: 4.5rem;
}

.projects--userAgreement{
    padding-bottom: 3.5rem;
}

.projects .heading {
    padding-bottom: 1rem;
}

.mini__heading-nav{
    display: flex;
    justify-content: space-between;
}

.slick-arrow {
    position: static;
    margin-top: -1rem;
    font-family: 'Calibri-Regular';
    font-size: 1.1em;
    display: grid;
    grid-template-columns: auto auto;
    line-height: 20px;
}

.slick-arrow svg{
    width: 45px;
}

.arrow-prev svg{
    padding-right: 1rem;
}

.arrow-next svg{
    padding-left: 1rem;
}

.arrow-next{
    justify-content: flex-end;
}

.slick-arrow:hover {
    text-decoration: underline;
}

.heading__mini{
    padding: 0;
    font-size: 1.4em;
}

.projects .heading__micro{
    font-family: 'Calibri-Bold';
    font-size: 1.1em;
    padding-top: 0;
    padding-bottom: 2rem;
    line-height: 24px;
}

.projects .heading__mini{
    padding-bottom: 3rem;
}

.about_us-text {
    padding: 0 0 3rem;
}

.about_us-text--userAgreement{
    padding-bottom: 2rem;
    text-align: justify;
}

.project__content{
    padding-bottom: 3rem;
}

.project__content--userAgreement{
    padding-bottom: 2rem;
}

.project__content-item{
    display: flex;
    /* column-count: 2; */
    column-gap: 3rem;
    /* column-width:50%; */
    padding-bottom: 2rem;
}

.project__content-item--userAgreement{
    padding-bottom: 0 !important;
}

.project__content-text{
    flex-basis: 100%;
    /* padding-right: 3rem; */
}

.project__item-img{
    width:100%;
    /* text-align: right; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.project__item-img a{
    text-align: right;
}

.project__content-item:nth-child(2n) .project__item-img{
    /* text-align: left; */
    align-items: flex-start;
}

.project__content-item:nth-child(2n) .project__img-big{
    text-align: left;
}

.project__item-img img{
    width: 94%;
}

.project__img-big:hover {
    opacity: 0.7;
}

.project__text-mini{
    align-self: center;
    padding-top: 1rem;
    padding-left: 6%;
}

.project__content-item:nth-child(2n) .project__text-mini{
    padding-left: 0;
    padding-right: 6%;
}

.project__content-imgs{
    display: flex;
    column-gap: 3rem;
    padding-bottom: 2.5rem;
}

.project__content-imgs .project__item-img:nth-child(odd){
    align-items: flex-start;
    text-align: left;
}

.project__imgs-left .project__img-big{
    text-align: left;
}

.project__imgs-left .project__text-mini{
    padding-left: 0;
    padding-right: 6%;
}

.userAgreement__anchor{
    text-decoration: underline;
    color: #473787;
}

.project__button {
    background: #fff;
    padding: 7px 33px;
}

.mini__bottom-nav .slick-arrow {
    margin-top: 0;
}

.mfp-figure .mfp-close{
    color: #9692a9;
}

.mfp-figure .mfp-close:hover{
    font-size: 1.9em;
    cursor: pointer;
}

.white-popup {
    background: #fff;
}

.userAgreement__thanks{
    width: 200px;
    text-align: right; 
    /* margin: 0 0 0 auto; */
    margin-bottom: 0;
    margin-left: auto;
}

.project__content-item--userAgreement ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    color:  #4b446a;
}

.userAgreement__list{
    padding-bottom: 0 !important;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.userAgreement__list a{
    color:  #4b446a;
}

.userAgreement__list a:visited{
    color:  #4b446a;
}

.userAgreement__list:not(.userAgreement__list:last-child){
    padding-right: 1rem;
}

.userAgreement__list:not(.userAgreement__list:first-child){
    border-left: 1px solid #4b446a;
    padding-left: 1rem;
}

.userAgreement__list:hover{
    font-family: "Calibri-Bold";
    color: #473787;
    /* text-decoration: underline; */
    /* padding-right: calc(1rem - 5px) !important; */
}

.brif{
    margin-top: -1.5rem;
    padding-bottom: 3rem;
}

.brif .heading{
    margin: 0 auto;
    line-height: 37px;
    width: auto;
    max-width: 84vw;
}

.brif__buttons{
    display: flex;
    justify-content: space-around;
    padding-bottom: 3rem;
}

.brif .project__button {
    padding: 9px 33px;
}

.brif__buttons .heading{
    padding-bottom: 2rem;
}

.brif__buttons-item{
    text-align: center;
}

@media(min-width: 1600px){
    .project__item-img img {
        /* width: 86%; */
        width: 100%;
    }

    .project__text-mini{
        /* padding-left: 14%; */
        padding-left: 0;
    }
    
    .project__content-item:nth-child(2n) .project__text-mini{
        /* padding-right: 14%; */
        padding-right: 0;
    }

    .project__imgs-left .project__text-mini{
        padding-right: 14%;
    }

    .preview__heading {
        font-size: 1em;
    }

    .about_us-text {
        font-size: 1.2em;
    }

    .userAgreement__thanks {
        width: 234px;
    }
}

@media(min-width: 1700px){
    .project__item-img img {
        width: 88%;
    }

    .project__text-mini {
        padding-left: 12%;
    }

    .project__content-item:nth-child(2n) .project__text-mini {
        padding-left: 0;
        padding-right: 12%;
    }
}

@media(min-width: 1920px){
    .projects {
        padding-left: 0;
        padding-right: 0;
    }

    .project__item-img img {
        width: 92%;
    }

    .project__text-mini {
        padding-left: 8%;
    }

    .project__content-item:nth-child(2n) .project__text-mini {
        padding-left: 0;
        padding-right: 8%;
    }

    .about_us-text {
        font-size: 1.15em;
    }

    .preview__heading {
        width: 200px;
        font-size: 1.1em;
    }

    .project__button {
        margin-bottom: 0;
    }
}

@media(max-width: 1300px){
    .project__content-item {
        column-gap: 1.5rem;
    }

    .about_us-text, .brif {
        padding-bottom: 2rem;
    }
}

@media(max-width:1136px) {
    .about_us-text, .brif {
        padding-bottom: 1.5rem;
    }

    .project__content-item {
        column-gap: 1rem;
    }

    .userAgreement__thanks{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem !important;
    }

    .brif{
        margin-top: -2rem;
    }
}

@media(max-width:1040px) {
    .projects {
        padding-bottom: 3rem;
    }

    .project__content {
        padding-bottom: 2rem;
    }

    .about_us-text--userAgreement{
        font-size: 1.1em;
    }
}

@media(min-width:937px) and (max-width: 1200px){
    .project__content-item {
        padding-bottom: 1rem;
    }
}

@media(max-width:936px) {
    .breadcrumbs {
        padding-bottom: 0.5rem;
    }
    
    .project__content-item{
        flex-direction: column;
        padding-bottom: 2.5rem;
    }

    .project__item-img img {
        width: 100%;
    }

    .project__text-mini {
        padding-left: 0;
    }

    .project__content-item:nth-child(2n){
        display: none;
    }

    .project__content-imgs{
        display: none;
    }

    .project__content-text {
        padding-bottom: 1rem;
    }

    .arrow-prev, .arrow-next{
        margin-top: -5.2rem;
    }

    .project__content {
        padding-bottom: 0;
    }

    .projects .heading {
        padding-bottom: 2.5rem;
    }

    .projects .heading--userAgreement{
        padding-bottom: 1rem;
        padding-right: 0;
        padding-left: 0;
    }

    .projects .heading__micro{
        padding-bottom: 1.5rem !important;
    }

    .about_us-text--userAgreement{
        padding-bottom: 0.7rem;
    }

    .brif{
        margin-top: 0;
    }
}

@media(max-width:640px) {
    .projects .heading {
        padding-bottom: 2.3rem;
    }

    .projects .heading--userAgreement {
        width: min-content;
        margin: 0 auto;
        padding-bottom: 1rem;
    }
}

@media(max-width:540px) {
    .projects {
        padding-bottom: 1.5rem;
    }

    .slick-arrow {
        font-size: 1em;
    }

    .slick-arrow svg {
        width: 40px;
    }

    .arrow-prev svg {
        padding-right: 0.5rem;
    }

    .arrow-next svg {
        padding-left: 0.5rem;
    }

    .projects .heading{
        padding-bottom: 1.5rem;
    }

    .arrow-prev, .arrow-next {
        margin-top: -4.5rem;
    }

    .project__content {
        padding-bottom: 0.5rem;
    }

    .project__content-item {
        padding-bottom: 2rem;
    }

    .project__content-text {
        padding-bottom: 0.8rem;
    }
}

@media(max-width:480px) {
    .arrow-prev, .arrow-next {
        margin-top: -3.5rem;
    }

    .arrow__text{
        display: none;
    }

    .projects .heading{
        padding-bottom: 1rem;
    }

    .project__content{
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .heading__mini {
        font-size: 1.3em;
    }

    .brif__buttons {
        flex-direction: column;
        align-items: center;
    }

    .brif__buttons-item:first-child{
        padding-bottom: 3rem;
    }

    .brif__buttons-item .heading {
        padding-bottom: 2rem;
    }

    .brif__buttons-single{
        padding-bottom: 0 !important;
    }
}

@media (max-width: 479px){
    .breadcrumb {
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .breadcrumb-item:last-child {
        border-bottom: none;
        text-decoration: underline;
        text-align: center;
        /* width: min-content; */
        text-underline-offset: 4px;
    }

    .projects.container {
        padding-bottom: 1.5rem;
    }

    .heading__mini{
        line-height: 35px;
    }

    .brif .heading:not(.brif__buttons-item .heading) {
        line-height: 35px;
        font-size: 1em;
    }
}

@media(max-width:380px) {
    .projects.container {
        padding-bottom: 1.2rem;
    }
    
    .projects .heading:not(.brif__buttons-item .heading) {
        padding-bottom: 0.8rem;
    }

    .arrow-prev, .arrow-next {
        margin-top: -3.3rem;
    }

    .project__content-item {
        padding-bottom: 1.5rem;
    }

    .about_us-text, .brif {
        padding-bottom: 1.3rem;
    }

    .about_us-text--userAgreement{
        padding-bottom: 1em;
    }

    .brif__buttons {
        padding-bottom: 2.5rem;
    }
}

@media(max-width:359px) {
    .breadcrumb-item:last-child {
        width: min-content;
    }

    .heading__mini {
        font-size: 1em;
    }

    .projects.container {
        padding-bottom: 0.8rem;
    }

    .projects .heading:not(.brif__buttons-item .heading) {
        padding-bottom: 0.6rem;
    }

    .arrow-prev, .arrow-next {
        margin-top: -3.1rem;
    }

    .userAgreement__thanks {
        padding-top: 1rem;
        margin: 0 auto;
        text-align: center;
    }

    .projects .heading--userAgreement{
        font-size: 1.5em;
    }
}

@media(max-width:340px) {
    .brif .heading:not(.brif__buttons-item .heading) {
        line-height: 33px;
        font-size: 0.9em;
    }
}

@media(max-width:290px) {
    .projects.container {
        padding-bottom: 0;
    }

    .heading {
        font-size: 1.5em;
        line-height: 34px;
    }

    .heading__mini {
        font-size: 0.9em;
    }

    .projects .heading:not(.brif__buttons-item .heading) {
        padding-bottom: 0.3rem;
    }

    .arrow-prev, .arrow-next {
        margin-top: -2.8rem;
    }

    .slick-arrow svg {
        width: 36px;
    }

    .arrow-prev, .arrow-next {
        margin-top: -2.6rem;
    }

    .projects .heading--userAgreement {
        font-size: 1.2em;
    }

    .heading__mini{
        line-height: 28px;
    }

    .brif .heading {
        line-height: 29px;
    }

    .brif__buttons {
        padding-top: 1rem;
    }
}